:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #006aff 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    /* font family variables. */
    --roboto: 'Roboto', sans-serif;
}

body {
    border: 1rem solid rgba(20, 157, 221, 0.3);
    font-family: 'Roboto', cursive;
    min-height: 100vh;
    height: fit-content;
    background-image: url(../img/cover/body-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-heading {
    margin-top: 3.5rem;
}

.about-container {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.about-heading p {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
}

.blue-text {
    color: #007db7;
}

.about-container .row .img-resize {
    border: 1px solid transparent;
    border-radius: 1rem;
    height: 15rem;
    /* height: auto; */
    transition: all .4s ease;
}

.about-container .row .img-resize:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.about-box {
    text-align: center;
}

.link-image {
    margin: 0 2rem;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    transition: all .2s ease;
}

.links-row,
hr {
    margin-top: 3rem;
}

.link-image:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    transform: scale(1.1);
}