:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #006aff 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    /* font family variables. */
    --roboto: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-white {
    background-color: #EDF3F9;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.09);
}

.nav-margin {
    margin-top: 0;
}

header {
    z-index: 10;
}

.brand_img {
    max-height: 2rem;
}

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 2rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 17rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    margin: 0 0.2rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav a.active {
    color: #0088c7;
    font: normal 700 15px/2px var(--roboto);
    border-bottom: 3px solid #149ddd;
}

.header_area .main-menu .navbar-nav a:hover {
    color: #0088c7;
    font: normal 700 15px/2px var(--roboto);
    border-bottom: 3px solid #149ddd;
}