/* import fonts from fonts.css file */

@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

body {
    border: 1rem solid rgba(20, 157, 221, 0.3);
    font-family: 'Roboto', cursive;
    min-height: 100vh;
    height: fit-content;
    background-image: url(../img/cover/body-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-heading {
    margin-top: 3.5rem;
}

.about-container {
    margin-top: 4.5rem;
}

.about-heading p {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
}

.blue-text {
    color: #007db7;
}

.about-container .carousel .carousel-inner img {
    width: 100%;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    transition: all .5s ease;
}

.about-container .carousel .carousel-inner img:hover {
    width: 100%;
    -webkit-filter: grayscale(0);
    filter: none;
}

.about-container .carousel .carousel-inner .row .col-lg-3 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    margin: 0 2rem;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    transition: all .3s ease;
}

.about-container .carousel .carousel-inner .row .col-lg-3:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    filter: none;
}

.about-container .carousel {
    display: flex;
    flex-direction: row;
}

.about-container .carousel .carousel-inner .row {
    display: flex;
    justify-content: center;
}

.about-container .carousel .carousel-inner .row .col-lg-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.about-container .carousel .carousel-inner .row .col-lg-3 .work-box {
    padding: 1rem 3rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    text-decoration: wavy;
}

.about-container .carousel .carousel-inner .row .col-lg-3 .work-box .work-title {
    font-weight: 600;
}



.about-container .carousel a {
    background-color: black;
    /* box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* height: 20%; */
    width: 5%;
}

/* 
.about-container .carousel .carousel-buttons {
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */